@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --cor-primaria: #FFFFFF;
    --cor-segundaria: #EC2F46;
    --cor-terciaria: #040814;
    --cor-quartenaria: #167BF7;
    --cor-quinta: #C0C0C0;
    --fonte-principal: 'Inter';
}
body {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
}
.principal {
    background-image: url("../img/Background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container_botao {
    background-color: var(--cor-quartenaria);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-primaria);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}
.botao_secundario {
    background-color: transparent;
    text-decoration: none;
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
}
.container_aviso {
   font-size: 12px;
   color: var(--cor-quinta);
}
.container_titulo {
    font-size: 28px;
    font-weight: 700;
}
.container_imagem {
    margin: 1em 0 2em 0;
}
.container_caixa {
    margin: 0 6em;
}
.imagem_secundaria {
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.container_titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-primaria);
    margin-bottom: 0.1em;
}
.descricao_texto {
    color: var(--cor-quinta);
    font-weight: 400;
    font-size: 16px;
    
}
.botao__secundario {
    display: inline-block;
    margin-top: 1em;
}
.container_descricao {
    padding: 2em;
}
.dispositivos_listas {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos {
    text-align: center;
}
.dispositivos_titulo {
    font-size: 48px;
    color: var(--cor-primaria);
}
.lista_item {
    font-size: 32px;
    color: var(--cor-primaria);
}
.rodape {
    text-align: center;
    margin: 5em 3em;
}
.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}
.lista_link a{
    text-decoration: none;
    color: var(--cor-primaria);
    margin-left: 1em;
}
.rodape_texto {
    margin: 1em 0;
    color: var(--cor-quinta);
    font-size: 14px;
}
.lista_link a:hover{
    color: var(--cor-quartenaria);
}
.lista_link a:active {
    color: aqua;
}
.container_botao:hover {
    background-color: #4a94ef;
    color: #040814;
}